GPATH
GRTAGS
GTAGS
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.log
config.status
configure
configure~
m4/
src/.deps/
src/Makefile
src/Makefile.in
src/config.h
src/config.h.in
src/demo
src/demo-box.o
src/demo-demo.o
src/stamp-h1

